html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.listItem a {
  color: #85AD98;
  text-decoration: none;
}
.listItem a:hover,
.listItem a:active,
.listItem a:visited {
  color: #6C9D83;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}